<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <form action="https://vedahealth.us20.list-manage.com/subscribe/post?u=04f3cd4a49bd42e8ed3ece685&amp;id=374aea3bdc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate footer-wrapper" target="_blank" novalidate>
      <div class="input-wrapper">
        <input type="email" value="" name="EMAIL" class="email form-input" id="mce-EMAIL" placeholder="E-MAIL" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_04f3cd4a49bd42e8ed3ece685_374aea3bdc" tabindex="-1" value=""></div>
        <div class="clear" style="display: inline-block;"><input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
      <div class="signup-info">
        Subscribe to our newsletter to get updates on the latest in plant-based research
      </div>
    </form>

    <div class="modal-wrapper">
      <div class="modal" id="signup-modal">
        <div class="modal-header">
          <button type="button" class="close-button modal-close" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Join the waitlist</h4>
        </div>
        <form action="https://vedahealth.us20.list-manage.com/subscribe/post?u=04f3cd4a49bd42e8ed3ece685&amp;id=374aea3bdc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="input-wrapper">
            <input type="email" value="" name="EMAIL" class="email form-input" id="mce-EMAIL" placeholder="E-MAIL" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_04f3cd4a49bd42e8ed3ece685_374aea3bdc" tabindex="-1" value=""></div>
            <div class="clear" style="display: inline-block;"><input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
          <div class="signup-info">
            
          </div>
        </form>
      </div>
      <div class="modal-overlay"></div>
    </div>
    <!--
    <h2 class="footer-heading"></h2>

    <div class="footer-col-wrapper">
       <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div> 
    </div>
    -->
  </div>

</footer>
