<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <form class="footer-wrapper">
      <div class="input-wrapper">
        <input class="form-input" type="text" placeholder="E-MAIL">
        <button class="button" type="submit">Sign Up</button>
      </div>
      <div class="signup-info">
        Subscribe to our newsletter to get updates on the latest in plant-based research
      </div>
    </form>

    <!--
    <h2 class="footer-heading"></h2>

    <div class="footer-col-wrapper">
       <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div> 
    </div>
    -->
  </div>

</footer>
