<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>

    {%- include footer.html -%}

  <script>
    (function() {
      let launchModal = document.querySelector('.launch-modal'),
          modal = document.querySelector('.modal'),
          modalWrapper = document.querySelector('.modal-wrapper'),
          modalClose = document.querySelector('.modal-close');

      launchModal.onclick = () => {
        modalWrapper.classList.add('active');
      }

      modalClose.onclick = () => {
        modalWrapper.classList.remove('active');
      }

    })();
  </script>
  </body>

</html>
