---
layout: default
---

<div class="home">
  {{ content }}
  <div class="hero-wrapper">
    <div class="wrapper">
      <div class="hero">
        <div class="preview-wrapper">
          <img class="ios-preview" src="assets/img/ios-screen.png" alt="ios-preview">
          <img class="watch-preview" src="assets/img/apple-watch-screen.png" alt="watch-preview">
        </div>
        <div class="hero-info">
          Personalized plant-based supplements tailored to your DNA
          <div class="app-download-wrapper">
            Google Play | App Store
          </div>
          <button class="button join-btn">
            Join the waitlist
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="main-info">
      <h2>What we stand for</h2>
      <ul class="info-about">
        <li>100% organic</li>
        <li>100% plant-based</li>
        <li>100% sustainably grown</li>
        <li>No pesticides</li>
      </ul>
      <div class="info-images">
        <img src="assets/img/plants.png" alt="info-image">
        <img src="assets/img/pestle.png" alt="info-image">
        <img src="assets/img/table-plants.png" alt="info-image">
      </div>
    </div>
  </div>
</div>
